<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/responsive.css" />
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header class="site-header">
        <nav class="main-nav">
            <button class="nav-toggle" aria-label="Abrir menú">
                ☰
            </button>
            <div class="logo">
                <span>Instalaciones García's</span>
            </div>
            <ul class="nav-items">
                <li class="nav-link"><a href="#">Inicio</a></li>
                <li class="nav-link dropdown">
                    <a href="#" aria-haspopup="true" aria-expanded="false" data-toggle="submenu">Servicios ▾</a>
                    <ul class="submenu" role="menu">
                        <li><a href="#" data-toggle="submenu">Drywall</a></li>
                        <li><a href="#" data-toggle="submenu">Electricidad</a></li>
                        <li><a href="#" data-toggle="submenu">Mantenimiento</a></li>
                    </ul>
                </li>

                <li class="nav-link dropdown">
                    <a href="#" aria-haspopup="true" aria-expanded="false" data-toggle="submenu">Especialidades ▾</a>
                    <ul class="submenu" role="menu">
                        <li><a href="#">Comercial</a></li>
                        <li><a href="#">Residencial</a></li>
                        <li><a href="#">Industrial</a></li>
                    </ul>
                </li>

                <li class="nav-link"><a href="#">Proyectos</a></li>
                <li class="nav-link"><a href="#">Nosotros</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>